<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geungeunhanjan.mapper.lifes.MyPageMapper">
    <!--1. 내가 좋아요 한 목록-->
    <!--게시글 제목 / 좋아요 누른날 / 글 작성자 닉네임 / 클릭한 유저 id -->
    <select id="selectMyLike" resultType="LikeDTO">
        SELECT B.BOARD_TITLE,
               L.LIKE_CREATED_DATE,
               COALESCE(K.KAKAO_NICKNAME, U.USER_NICKNAME) AS BOARD_WRITER,
               L.USER_ID                                      LIKE_CLICK_USER
        FROM GGHJ_LIKE L
                 JOIN GGHJ_BOARD B ON L.BOARD_ID = B.BOARD_ID
                 JOIN GGHJ_UNI UNI ON B.USER_ID = UNI.UNI_ID
                 FULL OUTER JOIN GGHJ_USER U ON U.USER_ID = UNI.USER_ID
                 FULL OUTER JOIN GGHJ_KAKAO K ON K.KAKAO_ID = UNI.KAKAO_ID
        WHERE L.USER_ID = #{userId}
    </select>
    <!--2. 내가 쓴 댓글 목록-->
    <!--댓글 내용 / 댓글 쓴 날 / 게시글 제목 / 댓글 작성자 id-->
    <select id="selectMyReply" resultType="CommentDTO">
        SELECT C.COMMENT_CONTENT      AS COMMENTS_CONTENT,
               C.COMMENT_CREATED_DATE AS CREATED_DATE,
               B.BOARD_TITLE          AS BOARD_TITLE,
               C.USER_ID              AS USER_ID
        FROM GGHJ_COMMENT C
                 JOIN GGHJ_BOARD B
                      ON C.BOARD_ID = B.BOARD_ID
        WHERE C.USER_ID = #{userId}
        UNION ALL
        SELECT R.REPLY_CONTENT      AS COMMENTS_CONTENT,
               R.REPLY_CREATED_DATE AS CREATED_DATE,
               B.BOARD_TITLE        AS BOARD_TITLE,
               R.USER_ID            AS USER_ID
        FROM GGHJ_REPLY R
                 JOIN GGHJ_COMMENT C
                      ON R.COMMENT_ID = C.COMMENT_ID
                 JOIN GGHJ_BOARD B
                      ON C.BOARD_ID = B.BOARD_ID
        WHERE R.USER_ID = #{userId}
        ORDER BY
            CREATED_DATE DESC
    </select>
    <!--3. 내 알림 (신고) 목록 -->
    <select id="selectMyReported" resultType="ReportDTO">
        SELECT ROWNUM "ROW_NUMBER",
               REPORT_ID,
               REPORT_REASON,
               REPORT_CREATED_DATE,
               REPORT_COUNT,
               USER_ID    AS "REPORTER_ID",
               COMMENT_ID AS "REPORTED_COMMENT_ID"
        FROM GGHJ_REPORT
        WHERE USER_ID = #{userId}
    </select>
    <!--4. 회원정보 수정-->
</mapper>