<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geungeunhanjan.mapper.community.NoticeMapper">
    <!-- 공지 전체 리스트를 조회하는 쿼리문    -->
    <select id="selectNoticeAll" resultType="NoticeDTO">
        SELECT u.USER_NICKNAME AS nickname, n.NOTICE_ID, n.NOTICE_TITLE, n.NOTICE_CONTENT,n.NOTICE_CREATED_DATE
        FROM GGHJ_USER u
                 JOIN GGHJ_UNI uni ON u.USER_ID = uni.USER_ID
                 JOIN GGHJ_NOTICE n ON uni.UNI_ID = n.USER_ID
        UNION ALL
        SELECT k.kakao_nickname AS nickname, n.NOTICE_ID, n.NOTICE_TITLE, n.NOTICE_CONTENT,n.NOTICE_CREATED_DATE
        FROM GGHJ_KAKAO k
                 JOIN GGHJ_UNI uni ON k.kakao_id = uni.KAKAO_ID
                 JOIN GGHJ_NOTICE n ON uni.UNI_ID = n.USER_ID
        ORDER BY NOTICE_ID DESC
    </select>

    <!-- 공지 리스트중 한개 클릭시 공지상세페이지 조회하는 쿼리문  -->
    <select id="selectNoticeDetail" resultType="NoticeDTO">
        SELECT
            U.USER_NICKNAME,
            N.NOTICE_ID,
            N.NOTICE_TITLE,
            N.NOTICE_CONTENT,
            N.NOTICE_CREATED_DATE,
            U.USER_ID
        FROM
            GGHJ_NOTICE N
                JOIN
            GGHJ_USER U ON N.USER_ID = U.USER_ID
        WHERE
            N.NOTICE_ID = #{noticeId}
    </select>
</mapper>