<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나의 일대기</title>
  <link rel="stylesheet" href="./../../css/myLife/mypage.css">
  <link rel="stylesheet" href="./../../css/reset.css">
  <script defer src="./../../js/fragment/headerFetch.js"></script>
  <script defer src="./../../js/fragment/footerFetch.js"></script>
</head>

<body>
   <!-- 헤더~~!!!!!!!!!!!!!!!!!!! -->
   <div th:replace="~{/fragment/header::header}"></div>
  <!-- 헤더 끝-========================================================================== -->

  <main>
    <div class="container">
    <div class="first-container">   
      <div class="profile-background">
        <div class="profile-background-dark"></div>
        <div class="profile-bg-img-box"> <img src="./../../img/myLife/jyg-background.png" alt=""></div>
        <div class="profile">
          <div class="profile-img-box"> <img src="./../../img/myLife/jyg-profile_img_20240512_163410241.jpg" alt=""></div>
          <div class="profile-detail">
            <p id="profile-nickname" >장윤근</p>
            <p>
              <span class="follower-number">36</span>
              <span class="follower">팔로워</span>
            </p>
            <p>
              <span class="follower-number">128</span>
              <span class="follower">팔로잉</span>
            </p>
            <!-- <p class="profile-heart"><img src="./../../img/myLife/mdj-heart_negative.png" alt="하투"></p> -->
          </div>
        </div>
      </div>
      <div class="profile-text">
        <div class="profile-introduce">
          <p>안녕하세요! 저는 창의적인 해결책을 찾는 열정을 가진 디자이너 장윤근입니다.
            예술과 미술이 만나는 곳에서 영감을 받아 사용자 친화적인 디자인을 만드는 것을 사랑합니다.
          </p>
        </div>
        <div class="write-button">
          <a th:href="@{/myLife/detail_writingMode}"><button>글쓰기</button></a>
        </div>
      </div>
    </div>
    <div class="second-container">
      <div class="second-container-comment">
        <a href="/myLife/mypageCommentList">내가 쓴 댓글</a>
      </div>
      <div class="second-container-like">
        <a href="/myLife/mypageLike">좋아요</a>
      </div>
      <div class="second-container-user">
        <a href="/myLife/mypageEditMemberInformation">회원 정보 수정</a>
      </div>
      <div class="second-container-alarm">
        <a href="/myLife/mypageNotification">알림</a>
      </div>
    </div>
    <hr>
    <div class="third-container">
      <div class="third-container-category">
        <div class="infancy">
          <a href="">유아기</a>
        </div>
        <div class="babyhood">
          <a href="">유년기</a>
        </div>
        <div class="childhood">
          <a href="">아동기</a>
        </div>
        <div class="adolescence">
          <a href="">청소년기</a>
        </div>
        <div class="adult">
          <a href="">성인</a>
        </div>
        <div class="middle-age">
          <a href="">중년</a>
        </div>
        <div class="old-age">
          <a href="">노년</a>
        </div>
      </div>
    </div>
    <div class="fourth-container">
      <div class="list">
        <div th:each="board : ${boards}" class="list-one">
          <a href="/myLife/detail_my">
            <div class="list-one-detail">
              <div class="title">
                <h3 th:text="${board.boardTitle}"></h3>
                <p>조회수 10</p>
              </div>
              <div class="list-date">
                <p th:text="${#temporals.format(board.boardCreatedDate, 'yy년 M월 d일 HH시 mm분')}"></p>
              </div>
              <div class="list-text">
                <p th:text="${board.boardContent}">
                </p>
              </div>
            </div>
          </a>
        </div>


      </div>
    </div>
    <div class="fifth-container">
      
        <ul class="pagination">
          <li>
            <a href=""><</a>
          </li>
          <li>
            <a href="">1</a>
          </li>
          <li>
            <a href="">2</a>
          </li>
          <li>
            <a href="">3</a>
          </li>
          <li>
            <a href="">4</a>
          </li>
          <li>
            <a href="">5</a>
          </li>
          <li>
            <a href="">></a>
          </li>
        </ul>
      
    </div>
  </div>
  </main>
  <footer>
    
  </footer>
</body>

</html>