<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="./../../css/user/passwordFind.css" />
    <link rel="stylesheet" href="./../../css/reset.css" />
    <script defer src="./../../js/user/passwordFind.js"></script>
    <script defer src="./../../js/fragment/headerFetch.js"></script>
    <script defer src="./../../js/fragment/footerFetch.js"></script>
  </head>
  <body>



  <div th:replace="~{/fragment/header::header}"></div>
<!-- 전체 감싼 코드 -->
    <div id="wrapper">

      <main>
        <!-- 컨테이너 -->
        <div class="find-pw-container">
          <div class="password-find">
            <p class="title">비밀번호 찾기</p>
            <p class="text">가입시 입력한 이메일 주소를 입력해주세요</p>
            <div class="email">
              <input id="find-input" type="text" placeholder="이메일 주소를 입력해주세요">
              <button class="find-button"><a th:href="@{/user/login/passwordFind/passwordFind2}">인증하기</a></button>
            </div>
            <p id="find-result"></p>
          </div>
        </div>
      </main>

      <footer>footer</footer>
    </div>








  </body>
</html>
