<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.geungeunhanjan.mapper.board.BoardMapper">

    <!-- 나의 일대기 게시판 정보 불러오기 -->
    <select id="selectBoard" resultType="BoardVO">
        SELECT *
        FROM GGHJ_BOARD
        WHERE USER_ID = #{userId}
    </select>


    <!--    메인 화면 4개 게시글-->
    <select id="mainBoardbyViews" resultType="BoardVO">
        SELECT BOARD_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATED_DATE, BOARD_VIEW_COUNT, BOARD_LIKE_COUNT, BOARD_YEAR, USER_ID FROM
            GGHJ_BOARD
        WHERE rownum BETWEEN 1 AND 4
        ORDER BY BOARD_VIEW_COUNT DESC
    </select>

    <!-- 나의 일대기 게시판 데이터 입력하기 -->
    <insert id="insertBoard" parameterType="BoardVO">
            <selectKey keyProperty="boardId" resultType="Long" order="BEFORE" >
                SELECT SEQ_BOARD.NEXTVAL FROM DUAL
            </selectKey>
        INSERT INTO GGHJ_BOARD ( BOARD_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_PUBLIC, BOARD_CREATED_DATE
                               , BOARD_UPDATED_DATE, BOARD_VIEW_COUNT, BOARD_LIFE_CYCLE, BOARD_LIKE_COUNT, USER_ID)
        VALUES ( #{boardId}, #{boardTitle}, #{boardContent}, #{boardPublic}, SYSDATE, SYSDATE
               , #{boardViewCount}, #{boardLifeCycle}, #{boardLikeCount}, #{userId})
    </insert>

    <!-- 게시판 작성자의 생일 가져오기  -->
    <select id="selectUserBirth" resultType="String">
        SELECT DISTINCT  user_birth FROM GGHJ_BOARD gb JOIN GGHJ_UNI GU
                                                            ON gb.USER_ID  = gu.User_ID
                                                       JOIN GGHJ_USER gu2 ON gu2.USER_ID = gu.User_ID
        WHERE gu2.USER_ID = #{userId}
    </select>

    <!-- 나의 일대기 게시글 수정 -->
    <update id="updateBoard">
        UPDATE GGHJ_BOARD
        SET BOARD_TITLE        = #{boardTitle},
            BOARD_VIEW_COUNT   = #{boardViewCount},
            BOARD_CREATED_DATE = #{boardCreatedDate},
            BOARD_CONTENT      = #{boardContent}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 나의 일대기 게시글 삭제 -->
    <delete id="deleteBoard">
        DELETE
        FROM GGHJ_BOARD
        WHERE USER_ID = #{userId}
    </delete>

    <!-- 마이 페이지 게시판 라이프 사이클 별 조회 -->
    <select id="selectBoardLifeCycle" resultType="BoardVO">
        SELECT BOARD_TITLE, BOARD_VIEW_COUNT, BOARD_CREATED_DATE, BOARD_CONTENT
        FROM GGHJ_BOARD
        WHERE BOARD_LIFE_CYCLE = #{boardLifeCycle}
    </select>

    <!--키워드 검색(안에 'a'는 임시값)-->
    <select id="selectByKeywordMain">
        SELECT BOARD_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_PUBLIC, BOARD_CREATED_DATE, BOARD_UPDATED_DATE, BOARD_VIEW_COUNT, BOARD_LIFE_CYCLE, BOARD_LIKE_COUNT, BOARD_YEAR, USER_ID
        FROM GGHJ_BOARD
        WHERE BOARD_TITLE LIKE '%a%'
           OR BOARD_CONTENT LIKE '%a%'
        ORDER BY BOARD_CREATED_DATE DESC
    </select>

</mapper>
